<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @emp_app.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @emp_app.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @emp_app.gender %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @emp_app.designation %>
</p>

<%= link_to 'Edit', edit_emp_app_path(@emp_app) %> |
<%= link_to 'Back', emp_apps_path %>
